:root {
  --snowman: #f4f2f3;
  --ice: #c5eaf4;
  --night: #344245;
  --santa: #d70816;
  --mistletoe-100: hsl(121, 47%, 84%);
  --mistletoe-800: #469a47;
}

body {
  background: var(--snowman);
  color: var(--night);
  font-family: "Englebert", sans-serif;
}

.page-wrapper {
  width: 100vw;
  max-width: 700px;
  min-height: 100vh;
  padding: 20px;
  margin: 0 auto;
}

h1 {
  color: var(--santa);
  font:
    700 3rem "Mountains of Christmas",
    serif;
  text-align: center;
}

form {
  margin: 30px 0;
  padding: 20px;
  border-radius: 10px;
  font-size: 1.4rem;
}

.inputs-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}


section:not(.btn-wrapper) {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  color: var(--mistletoe-800);
}

select {
  width: 35vw;
  max-width: 280px;
  padding: 6px 12px;
  border-radius: 10px;
  border: 2px solid var(--mistletoe-800);

  color: var(--santa);
  background: var(--mistletoe-100);
  text-align: center;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
}

button {
  border-radius: 10px;
  color: var(--snowman);

  display: inline-flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition:
    opacity 300ms,
    transform 300ms;
}

button:hover {
  opacity: 0.8;
}

button:focus {
  transform: scale(0.97);
}

.prediction-btn {
  width: 45%;
  height: 80px;

  background: var(--santa);
  font-size: 2rem;
}

.btn-wrapper div {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

div button {
  height: 35px;
  font-size: 1rem;
  background: var(--mistletoe-800);
}

p {
  border-radius: 10px;
  background: var(--ice);
  padding: 20px;
  text-align: justify;
  font-size: 1.6rem;
  line-height: 1.6;
}