:root {
  --snowman: #f4f2f3;
  --ice: #c5eaf4;
  --night: #344245;
  --santa: #d70816;
  --mistletoe: #469a47;
}

body {
  background: var(--snowman);
  color: var(--night);
}

.page-wrapper {
  width: 100vw;
  min-height: 100vh;
  padding: 20px;
}

h1 {
  color: var(--santa);
  font:
    700 3rem "Mountains of Christmas",
    serif;
  text-align: center;
}
